body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

img:hover {
    opacity: 0.5;
}

.site-nav {
    text-transform: uppercase;
    border-bottom: 2px solid #56565684;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    padding: 1rem 0;
    font-size: 1.5em;
}

.the-main-navbar {
    top:0;
    width: 100%;
}