body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb1 h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb1 p {
    font-weight: 100;
    color: #f498b8;
    font-size: 1.125rem;
    line-height: 2;
}

section:not(:first-of-type) {
    margin: 100px 0;
}

#mainNavbar {
    font-weight: 100;
    font-size: 1.5rem;
    position: sticky;
    top:0;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.headingGroup span {
    color: #EA1C2C;
}

.headingGroup h1 {
    font-weight: 100;
    font-size: 2.5rem;
}

.navbar.scrolled {
    background: rgb(222, 192, 222) !important;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    .headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}

.the-main-navbar {
    top:0;
}